body{
    background-color: red;
}
h1{
    font-size: xx-large;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    margin: 30px;
    padding: 20px;
}